---
import PlanCard from '../components/PlanCard.astro';
import IndexHead from '../components/IndexHead.astro';
import { getCollection } from 'astro:content';
import { getMidnight, japanDate } from '../lib/DateUtil';

const midnight = getMidnight(new Date());

const plans = (await getCollection('blog'));
const futurePlans = plans
  .filter((plan) => japanDate(plan.data.date).getTime() >= midnight.getTime())
  .sort(
	  (a, b) => a.data.date.valueOf() - b.data.date.valueOf()
  );
const pastPlans = plans
  .filter((plan) => japanDate(plan.data.date).getTime() < midnight.getTime())
  .sort(
	  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
  );
const title = "珍スポ研究室";
const description = "珍スポ研究室とは、珍スポット（B級スポット）が好きな人たちが集まるコミュニティです。\n主にLINEオープンチャットで活動しています。";
const image = "/images/chin.png";
---

<!DOCTYPE html>
<html lang="ja">
<head>
    <IndexHead
      title={title}
      description={description}
      image={image}
    />
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }
        p {
            margin: 0;
        }
        body {
            font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
            background: url("/images/chinspot-back-small.webp") no-repeat center center fixed;
            animation: float 0.14s ease-in-out .4s 3;
            background-size: auto calc(100% + 20px);
            background-color: black;
        }
        @media (min-width: 480px) {
             body {
                background-size: cover;
                animation: none;
            }
        }
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: -1;
        }
        #greeting {
            padding: 12px;
            margin: 0 auto;
        }
        #greeting h1 {
            color: lime;
            font-size: 2.4rem;
            text-align: center;
        }
        #greeting .description {
            background-color: rgba(0, 0, 0, 0.4);
            color: #ffffff;
            padding: 12px;
        }
        .sns-list {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin: 0 auto;
          gap: 24px;
        }

        @media (min-width: 1076px) {
          .sns-list {
            flex-direction: row;
            flex-wrap: wrap;
          }
        }
        .sns-button {
            display: flex;
            max-width: 100%;
            min-height: 72px;
            padding: 12px 16px;
            text-decoration: none;
            border-radius: 12px;
            align-items: center;
        }
        .line-button {
            background: linear-gradient(90deg, #10CAC3 0%, #07C662 100%);
            color: #ffffff;
        }
        .x-button {
            background: #000000;
            color: #ffffff;
            box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.12);
        }
        .x-button img {
          background-color: #ffffff;
        }
        .instagram-button {
            color: #ffffff;
            background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
        }
        .instagram-button img {
          background-color: #000000;
        }
        @media (min-width: 1076px) {
          .sns-button {
            width: 482px;
          }
        }
        .sns-button img {
          margin-right: 12px;
          border-radius: 50%;
        }
        .sns-title {
          font-weight: bold;
        }
        .sns-content {
          height: 100%;
        }
        section h2 {
            color: lime;
        }
        .events-section {
            padding: 4px;
            margin: 0 auto;
        }
        @media (min-width: 320px) {
          .events-section {
            padding: 12px;
          }
        }
        @media (min-width: 424px) {
          #greeting {
            width: 400px;
          }
          .events-section {
            width: 400px;
          }
        }
        @media (min-width: 720px) {
           /* 720 = 696 + 12 * 2 */
          #greeting {
            width: 696px;
          }
          .events-section {
            padding: 12px;
            width: 696px; /* 696 = 340 * 2 + 16 */
            margin: 0 auto;
          }
        }
        @media (min-width: 1076px) {
           /* 1076 = 1052 + 12 * 2 */
          #greeting {
            width: 1052px;
          }
          .events-section {
            padding: 12px;
            width: 1052px; /* 1052 = 340 * 3 + 16 * 2 */
            margin: 0 auto;
          }
        }
        .event-list {
            display: flex;
            flex-wrap: wrap;
            gap: 24px 16px;
        }
        .empty-events {
            color: #ffffff;
            font-size: 2rem;
        }
        footer {
            text-align: center;
            color: #ffffff;
            padding: 60px 0 48px 0;
        }
@keyframes float {
  0% {
    background-position: center;
  }
  50% {
    background-position: center -20px;
  }
  100% {
    background-position: center;
  }
}
    </style>
</head>
<body>
    <div class="overlay"></div>
<section id="greeting">
    <h1>珍スポ研究室</h1>
    <div class="description">
       <p>珍スポ研究室とは、珍スポット（B級スポット）が好きな人たちが集まるコミュニティです。</p>
       <p>主にLINEオープンチャットで活動しています。</p>
    </div>
</section>
<section id="sns" class="events-section">
  <h2>SNS</h1>
  <div class="sns-list">
    <a class="sns-button line-button" href="https://line.me/ti/g2/o6s0F62sSXO5k_dkl6xukS_pzeEnu6_5WAAJ2w" target="_blank">
      <img src="/images/chinspot-kenkyu.png" width="48" height="48" alt="LINE|珍スポ研究室" />
      <div class="sns-content">
        <div class="sns-title">珍スポ研究室</div>
        <p>珍スポの情報を共有するLINEオープンチャットです。</p>
        <p>こちらがメインの活動場所になります。</p>
      </div>
    </a>
    <a class="sns-button line-button" href="https://line.me/ti/g2/PZfs6bwr4EejequqSQYxW5Xc3zFotxYJqI3S0w" target="_blank">
      <img src="/images/chinspot-tanken_96x.webp" width="48" height="48" alt="LINE|珍スポ探検隊" />
      <div class="sns-content">
        <div class="sns-title">珍スポ探検隊</div>
        <p>オフ会用LINEオープンチャットです。</p>
        <p>オフ会参加希望の方はお入りください。</p>
      </div>
    </a>
    <a class="sns-button x-button" href="https://x.com/chinspotcom" target="_blank">
      <img src="/images/chin_x.png" width="48" height="48" alt="X|珍スポ研究室" />
      <div class="sns-content">
        <div class="sns-title">珍スポ研究室</div>
        <p>@chinspotcom</p>
        <p>公式Xです。</p>
      </div>
    </a>
    <a class="sns-button instagram-button" href="https://www.instagram.com/chinspotcom" target="_blank">
      <img src="/images/chin_x.png" width="48" height="48" alt="Instagram|珍スポ研究室" />
      <div class="sns-content">
        <div class="sns-title">珍スポ研究室</div>
        <p>@chinspotcom</p>
        <p>公式Instagramです。</p>
      </div>
    </a>
  </div>
</section>
<section id="future-events" class="events-section">
    <h2>これからのオフ会</h1>
    <div class="event-list">
      {
			  futurePlans.map((plan) => (
          <PlanCard plan={{ key: plan.slug, ...plan.data}} />
        ))
      }
    </div>
</section>
<section id="passed-events" class="events-section">
    <h2>過去のオフ会</h1>
    <div class="event-list">
      {
        pastPlans.map((plan) => (
          <PlanCard plan={{ key: plan.slug, ...plan.data}} />
        ))
      }
    </div>
</section>
<footer>
    <p>© 2024 珍スポ研究室</p>
</footer>
<script>
  function isImageCached(src: string): boolean {
    console.log({ src });
    const entries = performance.getEntriesByType('resource');
    const entry = entries.find(entry => entry.name === src);
    console.log({ entries });
    if (!entry || entry.entryType !== 'resource') {
      return false;
    }
    // @ts-ignore
    const transferSize: number = entry.transferSize as number;
    return transferSize === 0;
  }
  const body = document.body;
  const image = new Image();
  image.src = '/images/chinspot-back.webp';
  if (isImageCached(image.src)) {
    console.log('cached...');
    body.style.backgroundImage = `url('${image.src}')`;
  } else {
    image.onload = function() {
      setTimeout(() => {
        body.style.backgroundImage = `url('${image.src}')`;
      }, 300);
    }
  }
  const images = document.querySelectorAll('.event-list .plan img');
  images.forEach(img => {
    img.setAttribute('loading', 'lazy');
    img.setAttribute('decoding', 'async');
  });
</script>
</body>
</html>
