---
import type { Plan } from '../types';

interface Props {
    plan: Plan;
}
const { key, title, heroImage, place, date, startTime, capacity, label} = Astro.props.plan;
const monthText = String(date.getMonth() + 1).padStart(2, '0');
const dayText = String(date.getDate()).padStart(2, '0');
const weekText = ['日', '月', '火', '水', '木', '金', '土'][date.getDay()];
---
<a class="plan" href={`/blog/${key}`}>
  <div class="image-wrapper">
      <img src={heroImage} alt={title}>
  </div>
  <div class="plan-content">
      <div class="date">
          <div class="date-month">{monthText}</div>
          <div class="date-deli">/</div>
          <div class="date-day">{dayText}</div>
          <div class="date-week">({weekText})</div>
      </div>
      <div class="plan-desc">
          <div class="plan-hour">{startTime}</div>
          <div class="plan-place">{place}</div>
          <div class="plan-title">{title}</div>
          <div class="plan-capacity">{capacity}</div>
      </div>
  </div>
  {
    label && <div class="plan-label">{label}</div>
  }
</div>
<style>
.plan {
    color: #222222;
    text-decoration: none;
    background-color: white;
    width: 100%;
            position: relative;
            box-shadow: var(--box-shadow);
        }
        @media (min-width: 480px) {
          .plan {
            width: 400px;
          }
        }
        @media (min-width: 720px) {
          .plan {
            width: 340px;
          }
        }
        .plan img {
            width: 100%;
            height: 120px;
            object-fit: cover;
            display: block;
        }
        .plan .plan-content {
            padding: 8px;
            display: flex;
        }
        .plan .date {
            width: 56px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.2rem;
            flex-shrink: 0;
        }
        .plan .date-month {
            align-self: start;
        }
        .plan .date-deli {
            font-size: 2rem;
            transform: rotate(20deg);
            margin: -1.5rem 0 -1.5rem 0;
        }
        .plan .date-day {
            align-self: end
        }
        .plan .date-week {
            margin-top: -2px;
        }
        .plan .plan-desc {
            padding: 0 0 0 20px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
        .plan .plan-hour {
            font-size: .8rem;
            font-weight: 600;
        }
        .plan .plan-place {
            font-size: .8rem;
            color: #999999;
        }
        .plan .plan-title {
            font-weight: 600;
            margin-top: 4px;
        }
        .plan .plan-capacity {
            margin-top: 4px;
            font-size: 1.2rem;
            color: #999999;
            text-align: right;
        }
        .plan .plan-label {
            position: absolute;
            bottom: 0;
            left: 4px;
            color: rgba(255, 0, 0, 0.8);
            padding: 4px;
            font-size: 1.2rem;
            font-weight: bold;
        }
</style>