---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, heroImage, heroImageFromUrl, heroImageFromName } =
	Astro.props;

let heroImageWidth: number | undefined;
let heroImageHeight: number | undefined;
const matches = heroImage.match(/_(\d+)x(\d+)\.webp/);
if (matches) {
	const [, widthStr, heightStr] = matches;
	if (!widthStr || !heightStr) return;
	heroImageWidth = parseInt(widthStr);
	heroImageHeight = parseInt(heightStr);
}
---

<html lang="ja">
	<head>
		<BaseHead title={title} description={description} image={heroImage} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}

			@media (max-width: 720px) {
				main {
					width: 100%;
					padding: 16px 0;
				}
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
			.image-quote {
				font-size: 0.8em;
				color: #999999;
			}
			.image-quote a {
				color: #999999;
			}
			.to-top {
				display: block;
				margin: 0.6em 0 0 1em;
				font-weight: bold;
				font-size: 1.2em;
				color: #444444;
				text-decoration: none;
			}
			.to-top:hover {
				color: lime;
			}
			.bottom-buttons {
				margin-top: 40px;
				display: flex;
				justify-content: center;
			}
			.bottom-buttons a {
				display: block;
				max-width: 100%;
				min-width: 240px;
				padding: 12px 16px;
				text-decoration: none;
				border-radius: 12px;
				text-align: center;
				background-color: #333333;
				color: lime;
				box-shadow:
					0px 0px 0px 0px rgba(19, 21, 26, 0.3),
					0px 1px 2px 0px rgba(19, 21, 26, 0.29),
					0px 4px 4px 0px rgba(19, 21, 26, 0.26),
					0px 10px 6px 0px rgba(19, 21, 26, 0.15),
					0px 17px 7px 0px rgba(19, 21, 26, 0.04),
					0px 26px 7px 0px rgba(19, 21, 26, 0.01);
			}
			footer {
				text-align: center;
				color: #222222;
				padding: 60px 0 48px 0;
			}
		</style>
	</head>
	<body>
		<a href="/" class="to-top">珍スポ研究室</a>
		<main>
			<article>
				<div class="prose">
					<div class="hero-image">
						{
							heroImage && (
								<img
									src={heroImage}
									alt={title}
									width={heroImageWidth}
									height={heroImageHeight}
								/>
							)
						}
					</div>
					{
						heroImageFromUrl && (
							<blockquote class="image-quote" style="margin-top: 12px;">
								画像: <a href={heroImageFromUrl}>{heroImageFromName}</a>より引用
							</blockquote>
						)
					}
					<div class="title">
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<div class="bottom-buttons">
			<a href="/">珍スポ研究室 トップに戻る</a>
		</div>
		<footer>
			<p>© 2024 珍スポ研究室ss</p>
		</footer>
		<script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"></script>
		<script>
			// VConsole will be exported to `window.VConsole` by default.
			setTimeout(() => {
				// @ts-ignore
				new window.VConsole();
			}, 4000);
		</script>
	</body>
</html>
