---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
// import Header from '../components/Header.astro';
// import Footer from '../components/Footer.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, heroImage, heroImageFromUrl, heroImageFromName } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
			.image-quote {
				font-size: 0.8em;
				color: #999999;
			}
			.image-quote a {
				color: #999999;
			}
			.to-top {
				display: block;
				margin: .6em 0 0 1em;
				font-weight: bold;
				font-size: 1.2em;
				color: #444444;
				text-decoration: none;
			}
			.to-top:hover {
				color: lime;
			}
		</style>
	</head>

	<body>
		<a href="/" class="to-top">珍スポ研究室</a>
		<main>
			<article>
				<div class="prose">
					<div class="hero-image">
						{heroImage && <img src={heroImage} alt={title} />}
					</div>
					{ heroImageFromUrl && (
  					  <blockquote class="image-quote" style="margin-top: 12px;">
						  画像: <a href={heroImageFromUrl}>{heroImageFromName}</a>より引用
					    </blockquote>
					  )
					}
					<div class="title">
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
	</body>
</html>
